@model MyJournal.WebApi.Models.Lesson.LessonModel



<h1>Урок</h1><p/>
<h2>@Model.SubjectName - @Model.GroupName</h2>
<div>
    <hr />
    <table class="table-bordered">
        <tr>
            <td>
                П.І.Б.
            </td>
            <td>
                Оцінка
            </td>
            <td>
                Відсутній
            </td>
        </tr>
        @foreach (var studentData in Model.MarksData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => studentData.StudentName)
                </td>
                <td>
                    @Html.DisplayFor(x => studentData.Mark)
                </td>
                <td>
                    @Html.DisplayFor(x => studentData.NotPresent)
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>
